*{
  margin:0;
  padding:0;
  font-size: 12px;
}

#con{
  width:500px;
  height:400px;
  display:inline-block;
  vertical-align: top;
  border:blue 1px solid;
}
#preview{
  width: 150px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
  border:#222 1px solid;
  background-color: #EFEFE7;
}
.pre-img{

}
.pre-cityName , .pre-weather{
  width: 60px;
  text-align: center;
}
.pre-rigth , .pre-left{
  display: inline-block;
  vertical-align:middle;
}
.pre-rigth{
  height: 60px;
  margin-left: 10px;
}
.pre-rigth ul li {
  list-style: none;
  height: 15px;
  line-height: 15px;
}
.pre-color{
  height: 20px;
  width: : 20px;
  border:1px solid #222;
  background-color: yellow;
}


#code{
  width: 500px;
  height: 100px;
}
